legacy-peer-deps=true
node-linker=hoisted
# Ensure packages are installed with the exact versions specified
save-exact=true
# Use npm registry
registry=https://registry.npmjs.org/
# Enable strict SSL
strict-ssl=true 